.idea
.vscode
.grok
*_Spoiler.txt
*.bmbp
*.log
*_Spoiler.json
*_custom.yaml
*_meta.txt
*.bps
!data/**/*.bps
*.pyc
*.sfc
*.srm
*.bst
*.wixobj
*.bat
/build
bundle/components.wxs
dist
README.html
.vs/
*multidata
*multisave
EnemizerCLI/
.mypy_cache/
RaceRom.py
upx/
weights/
/MultiMystery/
/Players/
/QUsb2Snes/
/output/
/enemizer/
visualizations/

base2current.json

resources/user/*
!resources/user/.gitkeep

*.exe

get-pip.py

venv
/test/*
!/test/suite
/test/suite/*
!/test/suite/automate
test_games/
docs/issues/*
docs/ideas/*
data/sprites/official/selan.1.zspr
*.zspr

*errors.txt
*success.txt
